@font-face {
  font-family: "noto-bold";
  src: url("/fonts/NotoSerif_Condensed-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "noto-semi-bold";
  src: url("/fonts/NotoSerif_Condensed-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/NotoSerif_Condensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "quicksand-bold";
  src: url("/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "quicksand-semi-bold";
  src: url("/fonts/Quicksand-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
  font-weight: 400;
}

:root {
  --ftf-noto-bold: "noto-bold";
  --ftf-noto-sm-bold: "noto-semi-bold";
  --ftf-noto: "noto";
  --ftf-quicksand-bold: "quicksand-bold";
  --ftf-quicksand-sm-bold: "quicksand-semi-bold";
  --ftf-quicksand: "quicksand";
  --palete-black: #000;
  --Foundation-Secondary-secondary-600: #da6a00;
  --Foundation-Primary-primary-600: #5900d9;
  --Foundation-Secondary-secondary-400: #f39033;

  --ftw-500: 500;
}

html {
  scroll-behavior: smooth;
}

body,
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ftf-quicksand);
  color: #fff;
}

ul > li {
  list-style: none;
}

h1 {
  font-family: var(--ftf-noto-bold);
  font-size: 78px;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--palete-black);
  width: 100dvw;
  min-height: 100dvh;
  align-items: center;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 148px;
  z-index: 2;
  ul.navbar {
    width: 469px;
    height: 67px;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.1);

    li.item {
      list-style: none;

      & > a {
        text-decoration: none;
      }

      .inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        padding: 12px 24px;
      }
    }

    li:nth-child(1).item a,
    li:nth-child(2).item a,
    li:nth-child(3).item a {
      color: var(--Foundation-Secondary-secondary-400);
      font-weight: var(--ftw-500);
    }

    li.item a.active {
      border-radius: 24px;
      background: var(--Foundation-Secondary-secondary-600);
      color: var(--Foundation-Primary-primary-600);
    }
  }
}

.effect-circle {
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  border: 50%;
  background-color: var(--Foundation-Primary-primary-600);
  filter: blur(200px);
}

main.content {
  display: grid;
  width: 920px;

  section.inicio {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 242px;
    grid-template-rows: 423px;
    flex-shrink: 0;

    .rectangulo {
      display: grid;
      justify-items: center;
      align-items: center;
      position: relative;

      span.efecto {
        position: absolute;
        display: block;
        width: 261px;
        height: 360px;
        border-radius: 140px;
        background: linear-gradient(147deg, #f07400 13.25%, #4600a9 79.03%);
        filter: blur(17px);
        z-index: 0;
      }

      img {
        position: absolute;
        width: 241.336px;
        height: 334.715px;
        flex-shrink: 0;
        border-radius: 140px;
        object-fit: cover;
      }
    }
  }

  section.experiencia,
  section.contacto {
    height: 100dvh;
  }

  section.experiencia {
    background-color: var(--Foundation-Primary-primary-600);
  }

  section.contacto {
    background-color: var(--Foundation-Secondary-secondary-600);
  }
}
